.md-tabs {
  margin-top: -10px;
  margin-bottom: 1rem;

  border: 1px solid #757575;
  border-radius: 5px;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-bottom: 1px transparent;
    cursor: pointer;
  }

  .md-tabs-content {
    order: 999; //Move content blocks to the end
    width: 100%;
    border-top: 1px solid #03a9f4;
    padding: 1rem;
    display: none;
  }

  input[type="radio"]:checked+label {
    border-bottom: 1px solid #2e7d32;
  }

  input[type="radio"]:checked+label+.md-tabs-content {
    display: block;
  }
}
