@font-face {
	font-family: "Computer Modern";
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  }
  @font-face {
	font-family: "Computer Modern";
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
	font-weight: bold;
  }
  @font-face {
	font-family: "Computer Modern";
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
	font-style: italic, oblique;
  }
  @font-face {
	font-family: "Computer Modern";
	src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
	font-weight: bold;
	font-style: italic, oblique;
  }
  
  body {
	font-family: "Computer Modern", sans-serif;
  }
  
  .parent_div {
	  height: 100%;
	  max-width: 100%;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
  }
  
  .child_div1 {
	  width: 100%;
	  height: 100%;
	  margin: auto;
  }
  
  .canvas_container {
	  width: 94.321428542vh;
	  height: 94.321428542vh;
	  margin: auto;
	  max-width: 94.321428542vh;
	  max-height: 94.321428542vh;
	  border-style: solid;
	  border-color: #cacaca;
	  border-width: 2px;
  }
  
  .swal2-text {
	  font-family: "Computer Modern", sans-serif; color: #777777; font-size: 14px;
  }
  
  .swal2-popup {
	  font-family: "Computer Modern", sans-serif;
  }
  
  .tg {
	  border-collapse:collapse;
	  border-spacing:0;
	  margin:0px auto;
  }
  .tg td {
	  border-color:black;
	  border-style:solid;
	  border-width:1px;
	  font-size:20px;
		overflow:hidden;
		padding:10px 5px;
	  word-break:normal;
  }
  
  .tg th{
	  border-color:black;
	  border-style:solid;
	  border-width:1px;
	  font-size:20px;
		font-weight:normal;'
		overflow:hidden;
		padding:10px 5px;
		word-break:normal;
   }
   
  .tg .tg-cly1{text-align:left;vertical-align:middle}
  .tg .tg-wa1i{font-weight:bold;text-align:center;vertical-align:middle}